    * {
        --toolbar: #0b0f13;
        --toolbar-size: 80px;
        --toolbar-icons: #ffffff2a;
        --toolbar-hover: #94bff0;
        --toolbar-click: 148, 191, 240;

        --c-body: #181e23;
        --files: #0d1113;
        --files-width: 250px;
        --files-icon-size: 16px;
        --editor-files-width: 160px;
    }

    html, body {
        background-color: var(--c-body);
    }
    body {
        display: flex;
    }

    .codium-files {
        height: 100vh;
        background-color: var(--files);
    }

    .codium-spacer{
        margin-top: 100%;
        height: 100%;
    }

    .codium-toolbar {
        height: 100vh;
        display: flex;
        width: var(--toolbar-size);
        background-color: var(--toolbar);
        flex-direction: column;
    }

    .codium-toolbaritem {
        width: var(--toolbar-size);
        height: calc(var(--toolbar-size) * 1.3);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .codium-toolbaritem svg, .codium-toolbaritem-svg-active {
        width: 70%;
        height: 70%;
    }
    .codium-toolbaritem-svg-active svg {
        width: 100%;
        height: 100%;
    }
    .codium-toolbaritem svg * {
        fill: var(--toolbar-icons)!important;
    }
    .codium-toolbaritem:hover svg * {
        fill: var(--toolbar-hover)!important;
    }
    .codium-toolbaritem.codium-toolbaritem-active svg * {
        fill: rgb(var(--toolbar-click))!important;
    }
    .codium-toolbaritem.codium-toolbaritem-active {
        background-color: rgba(var(--toolbar-click), .2);
        border-left: 3px solid rgb(var(--toolbar-click));
    }

    .codium-toolbaritem.codium-toolbaritem-active > .codium-toolbaritem-svg-active {
        display: block!important;
    }
    .codium-toolbaritem.codium-toolbaritem-active > #fluenticon_files {
        display: none!important;
    }

    .codium-body {
        background-color: var(--c-body);
        width: 100%;
    }
    .codium-notfound {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;  
        gap: 15px;
    }

    .codium-notfound-bg {
        background-image: url('https://airacloud-v5-d1.vercel.app/codium-background-colors.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .codium-notfound h1 {
        font-size: 50px;
    }

    .codium-notfound h3 {
        font-weight: normal;
        font-size: 30px;
    }

    .codium-notfound code {
        background-color: #00000069;
        padding: 5px 10px;
        border-radius: 7px;
        font-size: 20px;
        font-family: var(--editor-font-family);
        font-weight: 100;
    }

    .editorcontainer {
        border: none;
        overflow: hidden!important;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        
        border-top-left-radius: 10px !important;
        -moz-top-left-border-radius: 10px !important;
        -ms-top-left-border-radius: 10px !important;
        -o-top-left-border-radius: 10px !important;
    }


    .cm-editor {
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
    }

    .cm-minimap-gutter {
        transform: translateY(4px);
        position: fixed;
        right: 17px;
        top: 0;
    }
    .cm-scroller {
        overflow: auto!important;
    }



  .codium-editor {
    width: 100%;
    background-color: var(--files);
    border-left: 1px solid var(--toolbar);
    display: flex;
    flex-direction: column;
  }
  .codium-files {
    background: var(--files);
    height: 100vh;
    width: 200px;
  }
  .codium-file {
    width: 100%;
    background-color: #0000000d;
    font-size: 20px;
    gap: 10px;
    display: flex;
    border-top: 1px solid var(--toolbar);
    cursor: pointer;
    align-items: center;
    padding: 12px 9px;
  }
  
  .codium-file img {
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    height: var(--files-icon-size);
}
  .codium-editor-files {
    display: flex;
    border-bottom: 1px solid var(--toolbar);
  }
  .codium-editor-file {
    width: var(--editor-files-width);
    height: 40px;
    border-right: 1px solid var(--toolbar);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 25px 10px;
  }
  .codium-editor-file span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .codium-file span {
    color: rgba(255, 255, 255, 0.8)!important;
  }

  .cm-content {
    width: 870px!important;
  }