.stats {
    /* width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; */
    padding: 24px;
}

.canvasjs-chart-credit {
    display: none!important;
}
.chart1 {
    display: flex;
}