.stats {
    /* width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; */
    padding: 48px;
}

.canvasjs-chart-credit {
    display: none!important;
}
.chart1 {
    display: flex;
}

.button-reload {
    border: 0;
    background-color: rgba(255, 255, 255, .3);
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
}

.button-reload img {
    transform: translateY(2px);
}

.colors-img {
    transform: translateX(-4vw) translateY(-5vh);
  filter: blur(20px);
}