@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Important */
body, html {
    margin: 0;
}

body {
    height: 100vh;
    background-color: #07080A;
}

* {
    font-family: 'Atkinson Hyperlegible';
    box-sizing: border-box;
    color: white;
    transition-duration: 0.1s;
}

img {
    user-select: none;
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.spacer {
    width: 100%;
}

.home-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

/* Sidebar */
.sidebar {
    width: 30%;
    height: 100vh;
    position: fixed;
    /* background-color: rgb(15, 17, 20); */
    background-color: hsla(0, 0%, 100%, 0.03);
    backdrop-filter: blur(98px);
}

.colors-img {
    position: absolute;
    z-index: -1;
    transform: translateX(-11%);
}

.SBContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.sb_separator {
    margin-top: auto;
}

.aira_info {
    display: flex;
    gap: 10px;
}

.aira_logo {
    display: flex;
    gap: 10px;
}

.aira_logo_title {
    display: flex;
    flex-direction: column;
}

/* Content */

.content {
    width: 70%;
    position: fixed;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.recent-activity {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.default-content-button {
    background-color: #16191E;
    display: inline-flex;
    width: calc(50% - 5px);
    height: 50px;
    padding-left: 17px;
    padding-right: 17px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, .11);
}

.default-content-button:hover {
    background-color: #1a1e24;
}

.content-button-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
    width: fit-content;
}


.contentTitle {
    font-size: 56px;
}
