@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Important */
body, html {
    margin: 0;
    overflow-x: hidden;
}

body {
    height: 100vh;
    background-color: var(--background);
}

:root {
    --sb-width: 30vw;
    --account-height: 70px;
   
    /* Colors */
    --primary-blue: #0064C8;
    --darker-primary-blue: #004993;
    --background: #07080A;
    --default-button: #16191E;
    --default-button-hover: #1a1e24;
    --sb-account: #121418;
    --sb-account-hover: #1e2024;
    --text: white;
    --textrgba: 255, 255, 255;
    --border: #ffffff1c;
    --modal-button: #1D2126;
    --cm-info-height: 24px;
    --intelli-width: calc(80px * 5);
    --editor-file-height: 50px;

    --editor-font-size: 16px;
    --editor-font-family: 'Consolas';
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    --rt-opacity: 1;
}

*:not(.editorcontainer *, .editorcontainer) {
  font-family: 'Atkinson Hyperlegible';
  transition-duration: 0.1s;
  color: var(--text);
}

img {
    user-select: none;
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.spacer {
    width: 0px;
}

.home-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}

.home-section-title {
    font-size: 30px; 
    /* text-decoration: underline; 
    text-decoration-thickness: 0.1px;
    text-decoration-color: rgba(var(--textrgba), 0.568); */
}
/* Sidebar */
.sidebar {
    width: var(--sb-width);
    height: 100vh;
    position: fixed;
    /* background-color: rgb(15, 17, 20); */
    background-color: rgba(var(--textrgba), 0.03);
    backdrop-filter: blur(98px);
}

.sb-separator {
    border-left: 1px solid transparent;
    left: var(--sb-width);
    background-color: transparent;
    width: 14px;
    cursor: e-resize;
    z-index: 10;
    position: fixed;  
    height: 100vh;
}
.sb-separator:hover {
    border-left: 1px solid rgba(var(--textrgba), 0.402);
}


.colors-img {
    position: absolute;
    z-index: -1;
    transform: translateX(-11%);
}

.SBContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100% - var(--account-height));
}

.sb_separator {
    margin-top: auto;
}

.aira_info {
    display: flex;
    gap: 4px;
}

.aira_info img {
  filter: grayscale(70%);
  transform: scale(0.8);
}

.aira_logo {
    display: flex;
    gap: 10px;
}

.aira_logo_title {
    display: flex;
    flex-direction: column;
}

/* SB Content */
.sb_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sb_sect_titl_tile {
  display: flex;
  background-color: var(--default-button);
  border-radius: 18px;
  border: 1px solid rgba(var(--textrgba), 0.11);
  padding: 0px 17px;
  align-items: center;
  align-self: stretch;
  position: relative;
  overflow: hidden;
}

.sb_sect_titl_tile p {
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  .content.noprojects::before {
    background-color: #0000005e;
  }
}

.sb_sect_tileContainer {
  display: flex;
  background-color: var(--default-button);
  border-radius: 18px;
  border: 1px solid rgba(var(--textrgba), 0.11);
  padding: 10px 0px;
  align-self: stretch;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.sb_sect_titl_tile:hover, .sb_sect_tile_contained:hover {
    background-color: var(--default-button-hover)!important;
    user-select: none;
}

.sb_sect_tile_contained {
  display: flex;
  height: 40px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
}

.sb_sect_tile_contained p {
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  width: fit-content;
  max-width: 86%;
}

.sb_sect_titl_tile p span[data="span-1"] {
  opacity: 0.5;
}

.sb_sect_titl_tile .overlay {
    background-color: rgba(var(--textrgba), 0.1);  
    position: absolute;
    border-radius: 1000px;
    transition-duration: 0.2s;
    transform: translate(-50%, -50%);
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px;
    width: 70vw;
    transform: translateX(30vw);
}

.recent-activity {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.default-content-button {
    background-color: var(--default-button);
    display: inline-flex;
    width: calc(50% - 5px);
    height: 50px;
    padding-left: 17px;
    padding-right: 17px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, .11);
    cursor: pointer;
    user-select: none;
}

.default-content-button:hover {
    background-color: var(--default-button-hover);
}

.content-button-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
    width: 100%;  
}


.contentTitle {
    font-size: 56px;
    text-decoration: underline;
    text-decoration-color: var(--primary-blue);
    text-decoration-thickness: 1px;
    text-decoration-line: blink;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

/* AiraLoadBar */
#airaloadbar {
    width: 100vw;
    background-color: var(--background);
    background-image: url('https://airacloud-v5-development.vercel.app/loaderbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position:fixed;
    left: 0;
    z-index: 1000;
    transition: left 0.5s;
    gap: 25px
}
#airaloadbar font {
    display: flex;
    flex-direction: row;
}

#airaloadbar span {
    opacity: 0.5;
    font-style:italic;
    font-size: 20px;
}

#airaloadbar h1 {
    font-size: 50px;
}
#airaloadbar img {
    height: 60px;
    margin-right: 12px;
    transform: translateY(2px);
}

#root {
    transition: left 0.5s;
}


.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--default-button);
    border: 1px solid var(--border);
    width: 158px;
    height: 158px;
    cursor: pointer;
    user-select: none;
    gap: 10px;
    float: left;
    margin: 3px;
  }

  @media (min-width:1280px) {.item {width: 19.26%!important;} }
  @media (min-width:1730px) {.item {width: 13.75%!important;} }
  @media (min-width:1950px) {.item {width: 19.26%!important;} }
  .item[aria-pressed="true"] {
    transition-duration: 0s !important;
    box-shadow: -10px 10px 20px #000000;
    cursor: grabbing;
    z-index: 100
  }

  .item-add img {
    height: 45%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item b {
    width: 80%;
    text-align: center;
  }
  .item:hover {
    background-color: var(--default-button-hover);
  }
  .item.item-fill {
    cursor:unset;
    border: 0;
    background-color: rgba(var(--textrgba), 0.03);
  }
  .project-grid > .item:first-child {
    border-top-left-radius: 36px;
  }
  .project-grid > .item:last-child {
    border-top-right-radius: 36px;
  }
  .button-primary {
    border-radius: 1000px;
    background: var(--primary-blue); 
    display: flex;
    width: 270px;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; 
    font-size: 30px; 
    font-weight: bold;
    border: 0;
}
.button-primary:active {
    opacity: 0.9;
    transform: scale(0.84) !important;
}
.button-primary:hover {
    background: var(--darker-primary-blue); 
}

.content-noprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
  }

  .content-noprojects h1 {
    font-size: 50px;
    z-index: 100;
  }

  .content.noprojects::before {
    background-color: #0000005e;
    width: 70vw;
    content: "";
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    position: fixed;
  }
  .content.noprojects {
    background-image: url('https://airacloud-v5.vercel.app/coming-soon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .aira_logo_small {
    display: flex;
    gap: 6px;
    align-items: center;
    opacity: 0.5;
  }

  .aira_logo_small .aira_logo_title span {
    font-size: 20px;
  }

  .aira_logo_small img {
    height: 20px;
    width: 27px;
  }

  .aira_sb_title {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .editorcontainer {
    border-radius: 12px!important;
    overflow: hidden!important;
    border: 1px solid rgba(var(--textrgba), .15);
    width: 100%;
    height: 100%;
    -webkit-border-radius: 12px!important;
    -moz-border-radius: 12px!important;
    -ms-border-radius: 12px!important;
    -o-border-radius: 12px!important;
}

.cm-theme {
  height: calc(100% - var(--cm-info-height));
  width: 100%;
}


.cm-tooltip-autocomplete {display: none!important;}

  .cm-editor {
    overflow: hidden!important;
    width: 100%;
    height: 100%;
  }

  .cm-info {
    background-color: var(--default-button);
    display: flex;
    font-family: 'Atkinson Hyperlegible';
    height: var(--cm-info-height);
    border-top: 1px solid rgba(var(--textrgba), .1);
    padding-left: 8px;
    color: var(--text);
  }
  .content-left {
    display: flex;
    gap: 15px;
    height: calc(100% - calc(var(--cm-info-height) * 2));
  }

  .iframe {
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 12px!important;
    border: 1px solid rgba(var(--textrgba), 0.11)!important;
    overflow: hidden!important;
    background-color: var(--default-button);
  }

  .iframe .url {
    border-bottom: 1px solid rgba(var(--textrgba), 0.11) !important;
    padding: 8px 12px;
  }

  .iframe iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }

  .ͼ16 .cm-cursor, .ͼ16 .cm-dropCursor {
    border-left: 2px solid #c6c6c6!important;
    transition-duration: 0.1s;
  }

  .cm-layer.cm-layer-above.cm-cursorLayer {
    animation-name: none !important;
  }
  
  
  .cm-cursorLayer[style="z-index: 150; animation-duration: 1200ms; animation-name: cm-blink2;"] > .cm-cursor {
      animation-name: aira-blink-smooth2!important;
      animation-iteration-count: infinite!important;
      animation-duration: 1200ms!important;
  }
  .cm-cursorLayer[style="z-index: 150; animation-duration: 1200ms; animation-name: cm-blink;"] > .cm-cursor {
      animation-name: aira-blink-smooth!important;
      animation-iteration-count: infinite!important;
      animation-duration: 1200ms!important;
  }
  .ͼ16, .ͼ16 .cm-gutters {
      background-color: var(--default-button)!important;
      border-right: 0px solid transparent;
  }
  /* .cm-theme {
      background-color: #303237!important;
  } */
  @keyframes aira-blink-smooth {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;} 
  }
  @keyframes aira-blink-smooth2 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;} 
  }

  @keyframes aira-blink-expand {
    0% {height: 19px; transform: translateY(0px);}
    50% {height: 0px; transform: translateY(10px);}
    100% {height: 19px; transform: translateY(0px);} 
  }
  @keyframes aira-blink-expand2 {
    0% {height: 19px; transform: translateY(0px);}
    50% {height: 0px; transform: translateY(10px);}
    100% {height: 19px; transform: translateY(0px);} 
  }
  
  .files {
    border: 1px solid var(--border) !important;
    border-radius: 12px !important;
    background-color: var(--default-button) !important;
    display: flex;
  }

  .file {
    display: flex;
    gap: 10px;  padding: 0px 30px 0px 20px;
    width: fit-content;
    height: var(--editor-file-height);
    align-items: center;
    cursor: pointer;
    border-right: 1px solid var(--border);
    position: relative;  
    height: var(--editor-file-height);
  }

  .file.active {
    background-color: #ffffff0a;
  }
  .contextmenu {
    display: flex;
    position: fixed;
    z-index: 10000000;
    flex-direction: column;
    background-color: var(--default-button);
    border-radius: 15px;
    overflow: hidden;
    padding: 7px 0px;
    border: 1px solid rgba(var(--textrgba), 0.072)
  }

  .contextmenuelement:hover {
    background-color: rgba(var(--textrgba), 0.053);
  }
  .contextmenuelement {
    padding: 5px 14px;
    cursor: pointer;
    display: flex;
    gap: 5px;
  }

  .ͼ16 .cm-selectionMatch {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

  .ͼ1 .cm-lineNumbers .cm-gutterElement {
    padding-left: var(--cm-gutter-padding)!important;
  }


  .file-close {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 7px;
    position: absolute;
    right: 6px;
  }
  
  .file-close > img {
    transform: scale(1.4);
  }
  
  .file-saved {
    transform: translateX(14px);
    align-items: center;
    display: flex;
    position: absolute;
    right: 25px;
    z-index: 1;
  }

  .unsaved-file {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 1000px;
  }

  .file:hover .file-saved {
    opacity: 0;
  }

  .file:hover .file-close {
    opacity: 1;
  }

  .account-icon:hover {
    background-color: rgba(var(--textrgba), .05);
  }
  .account-icon:active {
    transform: scale(0.93);
  }
  .account-icon {
    width: calc(var(--account-height) - 10px);
    height: calc(var(--account-height) - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.05s;
    border-radius: 10px;
  }

  .account-separator {
    height: 80%;
    border-left: 1px solid rgba(var(--textrgba), .11);
  }

  .account {
    display: flex;
    height: var(--account-height);
    align-items: center;
    justify-content: center;
    background-color: var(--sb-account);
    border-top: 1px solid rgba(var(--textrgba), .11);
    gap: 5px;
  }
  .account-icon img {
    width: calc(var(--account-height) - 35px);
  }

  .account-icon-active:hover {
    background-color: var(--darker-primary-blue)!important;
  }
  .account-icon-active {
    background-color: var(--primary-blue);
  }.item-add {
    cursor: pointer !important;
  }.item-add:hover {
    background-color: #ffffff10;
  }

  @keyframes animatetop{
    from{ 
      bottom: -16px;
      opacity:0
    } 
    to{
      bottom:0;
      opacity:1
    }
  }

  .contentTitle, .home-section-title {
    animation-name: animatetop;
    animation-duration: 0.8s;
    position: relative;
  }
  @keyframes modal {
    from { transform:scale(0); -webkit-transform:scale(0); -moz-transform:scale(0); -ms-transform:scale(0); -o-transform:scale(0); }
    to { transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); }
  }
  @keyframes modal-close {
    from { transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); display: block; }
    to { transform:scale(0); -webkit-transform:scale(0); -moz-transform:scale(0); -ms-transform:scale(0); -o-transform:scale(0); display: block;}
  }
.modal-container {
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  backdrop-filter: blur(0.84px);

  animation-name: modal;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
}
.modal-container-close {
  
  animation-name: modal-close;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  display: none;
}
.modal {
  background-color: var(--sb-account);
  border-radius: 44px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 40px;
  border: 1px solid rgba(var(--textrgba), .1);
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.modal-title {
  display: flex;
  width: 700px;
  align-items: center;
}
.modal-title > .close {
  margin-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.modal-title h1 {
  text-decoration: underline;
  text-decoration-color: var(--primary-blue);
  text-decoration-thickness: 1px;
  text-decoration-line: blink;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modal-form-input {
  background-color: var(--modal-button);
  border: 1px solid rgba(var(--textrgba), .1);
  border-radius: 6px;
  outline: 0;
  display: flex;
  padding-left: 15px;
}
.modal-form-input input, .modal-form-input select {
  border: 0;
  background-color: transparent;
  outline: 0 !important;
  padding: 16px;
  width: 100%;
  font-size: 17px;
  padding-left: 10px;
}
.modal-form-input:first-child {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.modal-form-input:last-child {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
.modal-form-input select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none!important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAABW0lEQVRIS2NkGCDAOED2MoxaTLeQHxxB/f//fzagl6uuXbvWpq2t/Quf9ydNmsRuaGhY+fz587awsDC8arGZg+LjFy9ecIuLi+8GKny2evXqcKCBf7Fp2r9/P4uCgsIqbm5u8YULF7qVlpZ+JTWOMIL6xIkTfObm5vu+f/9+k5OTM5aRkfEfsqGrVq1iNjY2XsXPzy+3bNky57y8vE+kWgpSjzWON2/eLOLj43Po3r17B5WUlLKAlv8HKQZGBSMwGubJysqaz5o1y66kpOQNOZbitBgksWTJEpno6Ogjp0+fXm5mZlYJEjt79uwEdXV1/3nz5tkCffqEXEvxWgySnD9/vmpsbOxhIJgA8q2FhUU+UMwmOzv7DiWWErQYpAAYj5YRERG7fv/+/X/RokVuqampJyi1lCiLQYqAKdwNZHFUVBQoxVMFDI4ChCpeIdKQUR8TGVCUKxuwoAYArLx5Fcd31vQAAAAASUVORK5CYII=);
  background-position: 100%;
  background-repeat: no-repeat;
}

.modal-title > .close:hover {
  background-color: rgba(var(--textrgba), .1);
}

@keyframes sidebar {
  from {
    left: calc(0vw - var(--sb-width))
  }
  to {
    left: 0vw
  }
}

.sidebar {
  animation-name: sidebar;
  animation-duration: 0.6s;
  background-image: url(https://airacloud-v5-d1.vercel.app/aira.sidebar.svg);
  background-repeat: no-repeat;
  background-position-x: -140px;
  background-position-y: -130px;
}

.animation-box {
  opacity: 0;
}

@keyframes breathe {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.loader {
  background-color: var(--background);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.loader img {
  top: 50%;
  left: 50%;
  position: fixed;
  width: 22%;
  transform: translate(-50%, -50%);
  animation-name: breathe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.sidebar::before {
  content: "";
  width: var(--sb-width);
  position: absolute;
  height: 100vh;
  background-color: #0000;
  z-index: -1;
  left: 0px;
  backdrop-filter: blur(100px);
}
.ͼ16, .ͼ16 .cm-gutters {
  background-color: var(--default-button) !important;
}

.intellisense {
  position: absolute;
  z-index: 1000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  background-color: var(--default-button-hover);
  transform: translateY(60px);
  display: flex;
  flex-direction: column;
}

#intelli {
  overflow: hidden;
  width: fit-content;

  max-height: 380px;
  overflow-y: scroll;
}

#intellidesc {
  padding: 10px 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: var(--intelli-width);
}

.intelliselected:hover {
  background-color: var(--primary-blue);
}
.intellitem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.intelliselected {
  background-color: var(--darker-primary-blue);
}
.intellitem {
  display: flex;
  padding: 0px 15px;
  height: calc(19px * 2);
  align-items: center;
  width: var(--intelli-width);
  gap: 10px;
  font-family: Consolas, monospace!important;
  cursor: pointer;
}
.intelliitem * {
  font-family: Consolas, monospace!important;
}

.intellitem img {
  width: 20px;
}

.intelliseparator {
  display: flex;
  margin-left: auto;
  height: fit-content;
  opacity: 0.5;
}

.cm-foldPlaceholder {
  background-color: transparent !important;
  border: none !important;
}

span[title="Unfold line"] > img, span[title="Fold line"] > img {
  transform: translateY(1.5px) scale(0.7);
  user-select: none;
  -webkit-transform: translateY(1.5px) scale(0.7);
  -moz-transform: translateY(1.5px) scale(0.7);
  -ms-transform: translateY(1.5px) scale(0.7);
  -o-transform: translateY(1.5px) scale(0.7);
}


span[title="Unfold line"], span[title="Fold line"] {
  opacity: 0;
  transition-duration: 0.1s;
}

img::selection {
  background-color: transparent!important;
}


.cm-gutters {
  cursor:default;
}

.cm-gutters:hover span[title="Unfold line"], .cm-gutters:hover span[title="Fold line"] {
  opacity: 0.7;
}

.cm-gutters::selection, .cm-gutters *::selection {
  background-color: transparent!important;
}

.intellitem b {
  color: #84C1FF;
}
.intelliselected b {
  color: #F4AEFF;
}

.cm-focused .cm-matchingBracket {
  outline: 1px solid #ffffff2b!important;
  background-color: transparent!important;
}

.cm-gutter.cm-foldGutter {
  width: 26px!important;
}

.cm-spacematch {
  background-color: transparent!important;
}
.cm-nonmatchingBracket span {
  color: var(--cm-nonMatching)!important;
}
.cm-nonmatchingBracket {
  background-color: transparent!important;
}
.cm-md-quote {
  color: var(--cm-md-quote-meta)!important;
}

.rainbow-bracket-red,    .rainbow-bracket-red > span,    .rainbow-bracket-red > span > span    { color: var(--cm-brackets-1)!important }
.rainbow-bracket-orange, .rainbow-bracket-orange > span, .rainbow-bracket-orange > span > span { color: var(--cm-brackets-2)!important }
.rainbow-bracket-yellow, .rainbow-bracket-yellow > span, .rainbow-bracket-yellow > span > span { color: var(--cm-brackets-3)!important }
.rainbow-bracket-green,  .rainbow-bracket-green > span,  .rainbow-bracket-green > span > span  { color: var(--cm-brackets-4)!important }
.rainbow-bracket-blue,   .rainbow-bracket-blue > span,   .rainbow-bracket-blue > span > span   { color: var(--cm-brackets-5)!important }
.rainbow-bracket-indigo, .rainbow-bracket-indigo > span, .rainbow-bracket-indigo > span > span { color: var(--cm-brackets-6)!important }
.rainbow-bracket-violet, .rainbow-bracket-violet > span, .rainbow-bracket-violet > span > span { color: var(--cm-brackets-7)!important }

:root {
  /* 
  - AiraCodeMirror 
  (You can edit this as you want)
  */

  /* Editor text content background                            */ --cm-bg:                       var(--default-button);
  /* Editor background image                                   */ --cm-bg-img:                   none;
  /* Editor text                                               */ --cm-foreground:               #d7d7d7; 
  /* Selection color                                           */ --cm-selection:                rgb(36, 48, 71);
  /* Background of selectionMatch                              */ --cm-selection-match:          #ffffff0a;
  /* Background of lineNumbers (defaults to editor background) */ --cm-gutter-bg:                var(--cm-bg);
  /* Color of the line number                                  */ --cm-gutter-fg:                rgba(var(--textrgba), .5);
  /* Color of the selected line number                         */ --cm-gutter-active-foreground: var(--cm-foreground);
  /* Background color of the selected line                     */ --cm-lineHighlight:            #ffffff0f;
  /* Color of not closed tags                                  */ --cm-nonMatching:              #d12e2e;
  /* Text content default color                                */ --cm-content:                  var(--cm-foreground);
  /* Left padding for gutter                                   */ --cm-gutter-padding:           10px;

  /* ---------------- Completion Colors */
  /* Single line comments   */ --cm-line-comment:     #6a9955;
  /* Multiple line comments */ --cm-multiple-comment: var(--cm-line-comment);
  
  /* Is not used in many places */ --cm-name:      #4ec9b0;
  /**/                             --cm-label-name: #ce9178;

  /* At Swiftly Team we don't know what is this */ --cm-namespace: var(--cm-foreground);
  /**/                                             --cm-macroname: #dcdcaa;
  
  /* Types names (null, true, boolean, string) */ --cm-type-definition: #569cd6;
  /**/                                            --cm-type-name:       #4ec9b0;
  /**/                                            --cm-type-standard:   #4ec9b0;

  /* Existing html tags (<html>)              */ --cm-tag-name-standard: #569cd6;
  /* Custom elements or React JSX elements () */ --cm-tag-name:          #4ec9b0;

  /* Variables                                     */ --cm-variable-name:            #9cdcfe;
  /* Functions and other variable types definition */ --cm-variable-name-definition: #9cdcfe;
  /* Functions in use (print())                    */ --cm-variable-name-function:   #dcdcaa;

  /* Property name                  */ --cm-property-name:       #9cdcfe;
  /* The variable from the property */ --cm-property-definition: #569cd6;
  /* definition.function()          */ --cm-property-function:   #dcdcaa;

  /* atribute="value" */ --cm-attribute-name:  #9cdcfe;
  /* atribute="value" */ --cm-attribute-value: var(--cm-string);
  /* <!DOCTYPE html> */  --cm-document-meta:   rgba(var(--textrgba),.3);
  /* <html></html> */    --cm-angle-bracket:   #808080;

  /* (In css) .class           */ --cm-classname:         #dcdcaa;
  /* (In css) .class::constant */ --cm-classname-constant: #c586c0;

  /* Types */   --cm-string:         #ce9178;
  /**/          --cm-string-special: var(--cm-string);
  /**/          --cm-literal:        var(--cm-string);
  /**/          --cm-character:      var(--cm-string);
  /**/          --cm-number:         #b5cea8;
  /**/          --cm-integer:        var(--cm-number);
  /**/          --cm-float:          var(--cm-number);
  /**/          --cm-bool:           #569cd6;
  /**/          --cm-regexp:         #d16969;
  /* unknown */ --cm-escape:         #569cd6;
  /**/          --cm-color:          var(--cm-string);
  /**/          --cm-url:            #9ce7fe;
  /* public */  --cm-keyword:        #c586c0;
  /* this */    --cm-self:           #569cd6;
  /* null */    --cm-null:           #569cd680;
  /**/          --cm-atom:           #dcdcaa;
  /* em, px */  --cm-unit:           #569cd6;
  /* var, let */--cm-modifier:       #569cd6;
  /* operators*/--cm-operator:       var(--cm-foreground);

  /* (In md) # */ --cm-heading1: var(--cm-md-meta);
  /**/            --cm-heading2: var(--cm-md-meta);
  /**/            --cm-heading3: var(--cm-md-meta);
  /**/            --cm-heading4: var(--cm-md-meta);
  /**/            --cm-heading5: var(--cm-md-meta);
  /**/            --cm-heading6: var(--cm-md-meta);

  /* =>, < */  --cm-punctuation:    var(--cm-foreground);
  /* <>, {} */ --cm-bracket:        var(--cm-foreground);
  /* [] */     --cm-square-bracket: var(--cm-foreground);
  /* () */     --cm-paren:          var(--cm-foreground);

  --cm-brackets-1: #3aa8eb;
  --cm-brackets-2: #e6b86b;
  --cm-brackets-3: #ce6adf;
  --cm-brackets-4: #02b3be;
  --cm-brackets-5: #8ac55f;
  --cm-brackets-6: #aab2c1;
  --cm-brackets-7: #02b3be;
  
  /* (In md) Separates */ --cm-md-content-separator: var(--cm-line-comment);
  /* (In md) Lists */     --cm-md-list:              var(--cm-foreground);
  /* (In md) Quote */     --cm-md-quote:             var(--cm-foreground);
  /* (In md) Quote */     --cm-md-quote-meta:        #6a9955;
  /* (In md) Bold */      --cm-md-bold:              #6796e6;
  /* (In md) Italic */    --cm-md-emphasis:          rgba(var(--textrgba), .7);
  /* (In md) Link */      --cm-md-link:              var(--cm-url);
  /* (In md) Monospace */ --cm-md-monospace:         var(--cm-string);
  /* (In md) Strike */    --cm-md-strikethrough:     var(--cm-md-link);
  /* (In md) >>, * */     --cm-md-meta:              #569cd6;

  /* typeof */    --cm-operator-keyword:   #569cd6;
  /* for, if */   --cm-control-keyword:    #c586c0;
  /* function */  --cm-definition-keyword: #569cd6;
  /* import */    --cm-module-keyword:     #c586c0;




  
}

