@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Important */
body, html {
    margin: 0;
    overflow-x: hidden;
}

body {
    height: 100vh;
    background-color: #07080A;
}

:root {
    --sb-width: 30%;
    --account-height: 70px;
}

* {
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}

*:not(.cm-theme *, .cm-theme) {
  font-family: 'Atkinson Hyperlegible';
  transition-duration: 0.1s;
}

img {
    user-select: none;
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.spacer {
    width: 100%;
}

.home-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}

.home-section-title {
    font-size: 30px; 
    /* text-decoration: underline; 
    text-decoration-thickness: 0.1px;
    text-decoration-color: rgba(255, 255, 255, 0.568); */
}
/* Sidebar */
.sidebar {
    width: var(--sb-width);
    height: 100vh;
    position: fixed;
    /* background-color: rgb(15, 17, 20); */
    background-color: hsla(0, 0%, 100%, 0.03);
    backdrop-filter: blur(98px);
}

.sb-separator {
    border-left: 1px solid transparent;
    left: var(--sb-width);
    background-color: transparent;
    width: 14px;
    cursor: e-resize;
    z-index: 1000;
    position: fixed;  
    height: 100vh;
}
.sb-separator:hover {
    border-left: 1px solid rgba(255, 255, 255, 0.402);
}


.colors-img {
    position: absolute;
    z-index: -1;
    transform: translateX(-11%);
}

.SBContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100% - var(--account-height));
}

.sb_separator {
    margin-top: auto;
}

.aira_info {
    display: flex;
    gap: 4px;
}

.aira_info img {
  filter: grayscale(70%);
  transform: scale(0.8);
}

.aira_logo {
    display: flex;
    gap: 10px;
}

.aira_logo_title {
    display: flex;
    flex-direction: column;
}

/* SB Content */
.sb_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sb_sect_titl_tile {
  display: flex;
  background-color: #16191E;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  padding: 0px 17px;
  align-items: center;
  align-self: stretch;
  position: relative;
  overflow: hidden;
}

.sb_sect_titl_tile p {
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  width: fit-content;
  max-width: 90%;
}

.sb_sect_tileContainer {
  display: flex;
  background-color: #16191E;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  padding: 10px 0px;
  align-self: stretch;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.sb_sect_titl_tile:hover, .sb_sect_tile_contained:hover {
    background-color: #1a1e24!important;
    user-select: none;
}

.sb_sect_tile_contained {
  display: flex;
  height: 40px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
}

.sb_sect_tile_contained p {
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  width: fit-content;
  max-width: 86%;
}

.sb_sect_titl_tile p span[data="span-1"] {
  opacity: 0.5;
}

.sb_sect_titl_tile .overlay {
    background-color: rgba(255, 255, 255, 0.1);  
    position: absolute;
    border-radius: 1000px;
    transition-duration: 0.2s;
    transform: translate(-50%, -50%);
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px;
    width: 70vw;
    transform: translateX(30vw);
}

.recent-activity {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.default-content-button {
    background-color: #16191E;
    display: inline-flex;
    width: calc(50% - 5px);
    height: 50px;
    padding-left: 17px;
    padding-right: 17px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, .11);
    cursor: pointer;
    user-select: none;
}

.default-content-button:hover {
    background-color: #1a1e24;
}

.content-button-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
    width: fit-content;  
    max-width: 80%;
}


.contentTitle {
    font-size: 56px;
}

/* AiraLoadBar */
#airaloadbar {
    width: 100vw;
    background-color: #07080A;
    background-image: url('https://airacloud-v5-development.vercel.app/loaderbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position:fixed;
    left: 0;
    z-index: 1000;
    transition: left 0.5s;
    gap: 25px
}
#airaloadbar font {
    display: flex;
    flex-direction: row;
}

#airaloadbar span {
    opacity: 0.5;
    font-style:italic;
    font-size: 20px;
}

#airaloadbar h1 {
    font-size: 50px;
}
#airaloadbar img {
    height: 60px;
    margin-right: 12px;
    transform: translateY(2px);
}

#root {
    transition: left 0.5s;
}


.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #16191e;
    border: 1px solid #ffffff1c;
    width: 158px;
    height: 158px;
    cursor: pointer;
    user-select: none;
    gap: 10px;
  }
  .item b {
    width: 80%;
    text-align: center;
  }
  .item:hover {
    background-color: #1a1e24;
  }
  .row {
    display: flex;
    gap: 6px;
    /*! height: 100px; */
  }
  .project-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: hidden;
    border-radius: 36px;
    margin-bottom: 15px;
    margin-top: 4px;
  }
  .item.item-fill {
    cursor:unset;
    border: 0;
    background-color: rgba(255, 255, 255, 0.03);
  }
  .project-box > .row:first-child > .item:first-child {
    border-top-left-radius: 36px;
  }
  .project-box > .row:first-child > .item:last-child {
    border-top-right-radius: 36px;
  }

  .project-box > .row:last-child > .item:first-child {
    border-bottom-left-radius: 36px;
  }
  .project-box > .row:last-child > .item:last-child {
    border-bottom-right-radius: 36px;
  }

  
  .button-primary {
    border-radius: 1000px;
    background: #0064C8; 
    display: flex;
    width: 270px;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; 
    font-size: 30px; 
    font-weight: bold;
    border: 0;
}
.button-primary:active {
    opacity: 0.9;
    transform: scale(0.84) !important;
}
.button-primary:hover {
    background: #004f9e; 
}

.content-noprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
  }

  .content-noprojects h1 {
    font-size: 50px;
    z-index: 100;
  }

  .content.noprojects::before {
    background-color: #0000005e;
    width: 70vw;
    content: "";
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    position: fixed;
  }
  .content.noprojects {
    background-image: url('https://airacloud-v5.vercel.app/coming-soon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .aira_logo_small {
    display: flex;
    gap: 6px;
    align-items: center;
    opacity: 0.5;
  }

  .aira_logo_small .aira_logo_title span {
    font-size: 20px;
  }

  .aira_logo_small img {
    height: 20px;
    width: 27px;
  }

  .aira_sb_title {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .cm-theme {
    border-radius: 12px!important;
    overflow: hidden!important;
    border: 1px solid rgba(255, 255, 255, 0.11)!important;
    width: 100%;
    height: 100%;
  }

  .cm-editor {
    border-radius: 12px!important;
    overflow: hidden!important;
    width: 100%;
    height: 100%;
  }

  .content-left {
    display: flex;
    gap: 15px;
    height: 100%;
  }

  .iframe {
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 12px!important;
    border: 1px solid rgba(255, 255, 255, 0.11)!important;
    overflow: hidden!important;
    background-color: #16191E;
  }

  .iframe .url {
    border-bottom: 1px solid rgba(255, 255, 255, 0.11) !important;
    padding: 8px 12px;
  }

  .iframe iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }

  .ͼ16 .cm-cursor, .ͼ16 .cm-dropCursor {
    border-left: 2px solid #c6c6c6!important;
    transition-duration: 0.1s;
  }

  .cm-layer.cm-layer-above.cm-cursorLayer {
    animation-name: none !important;
  }
  
  
  .cm-cursorLayer[style="z-index: 150; animation-duration: 1200ms; animation-name: cm-blink2;"] > .cm-cursor {
      animation-name: aira-blink-smooth2!important;
      animation-iteration-count: infinite!important;
      animation-duration: 1200ms!important;
  }
  .cm-cursorLayer[style="z-index: 150; animation-duration: 1200ms; animation-name: cm-blink;"] > .cm-cursor {
      animation-name: aira-blink-smooth!important;
      animation-iteration-count: infinite!important;
      animation-duration: 1200ms!important;
  }
  .ͼ16, .ͼ16 .cm-gutters {
      background-color: #16191E!important;
  }
  /* .cm-theme {
      background-color: #303237!important;
  } */
  @keyframes aira-blink-smooth {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;} 
  }
  @keyframes aira-blink-smooth2 {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;} 
  }

  @keyframes aira-blink-expand {
    0% {height: 19px; transform: translateY(0px);}
    50% {height: 0px; transform: translateY(10px);}
    100% {height: 19px; transform: translateY(0px);} 
  }
  @keyframes aira-blink-expand2 {
    0% {height: 19px; transform: translateY(0px);}
    50% {height: 0px; transform: translateY(10px);}
    100% {height: 19px; transform: translateY(0px);} 
  }
  
  .files {
    border: 1px solid #ffffff1c !important;
    border-radius: 12px !important;
    background-color: #16191e !important;
    overflow: hidden;
    display: flex;
  }

  .file {
    display: flex;
    gap: 10px;
    padding: 20px 15px;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    border-right: 1px solid #ffffff1c;
  }

  .file.active {
    background-color: #ffffff0a;
  }
  .ͼ1 .cm-gutterElement {
    color: #ffffff8c;
  }

  .contextmenu {
    display: flex;
    position: fixed;
    z-index: 10000000;
    flex-direction: column;
    background-color: #16191e;
    border-radius: 15px;
    overflow: hidden;
    padding: 7px 0px;
    border: 1px solid rgba(255, 255, 255, 0.072)
  }

  .contextmenuelement:hover {
    background-color: rgba(255, 255, 255, 0.053);
  }
  .contextmenuelement {
    padding: 5px 14px;
    cursor: pointer;
    display: flex;
    gap: 5px;
  }

  .ͼ16 .cm-selectionMatch {
    background-color: #a2a2a259!important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

  .ͼ1 .cm-lineNumbers .cm-gutterElement {
    padding-left: 20px!important;
  }

  .file-close > span {
    font-size: 30px;
    padding: 0;
    margin: 0;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    transform: translate(-3.1%, -12.4%);
    transition-duration: 0s;
    pointer-events: none;
    user-select: none;
    z-index: -1;
  }

  .file-close {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 7px;
    transform: translateX(-5px);
    position: absolute;
    right: 6px;
  }
  
  .file-saved {
    transform: translateX(14px);
    align-items: center;
    display: flex;
    position: absolute;
    right: 36px;
    z-index: 1;
  }

  .unsaved-file {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 1000px;
  }

  .file:hover .file-saved {
    opacity: 0;
  }

  .file:hover .file-close {
    opacity: 1;
  }

  .account-icon:hover {
    background-color: rgba(255, 255, 255, .05);
  }
  .account-icon:active {
    transform: scale(0.93);
  }
  .account-icon {
    width: calc(var(--account-height) - 10px);
    height: calc(var(--account-height) - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.05s;
    border-radius: 10px;
  }

  .account-separator {
    height: 80%;
    border-left: 1px solid rgba(255, 255, 255, .11);
  }

  .account {
    display: flex;
    height: var(--account-height);
    align-items: center;
    justify-content: center;
    background-color: #121418;
    border-top: 1px solid rgba(255, 255, 255, .11);
    gap: 5px;
  }
  .account-icon img {
    width: calc(var(--account-height) - 35px);
  }